PORT=
MEMCACHIER_PASSWORD=
MEMCACHIER_SERVERS=
MEMCACHIER_USERNAME=
NODE_ENV=production or development
SA_ADMIN_USERNAME=
SA_BASE_URL=
SA_LASTFM_API_KEY=
SA_LASTFM_SECRET=
SA_MONGO_URI=
SA_STATION_CRYPTO_KEY=any unique key shared with scrobbler
SA_USER_CRYPTO_KEY=any unique key shared with scrobbler
