extends layout

block body
	div.ng-hide(data-ng-controller='IndexCtrl', data-ng-show="loaded")

		div.alert.alert-danger(data-ng-if='alertMessage')
			a.close(data-dismiss='alert') ×
			| {{ alertMessage }}

		div.jumbotron(data-ng-if='loaded && !loggedIn')
			h2.text-center Scrobble Along
			p.text-center.
				Have you ever been listening to a radio station and wished there was a way to scrobble those songs?
				Now you can! Log in with your Last.fm account and select a station below, and you will scrobble along
				with what they play. For more information about how this works and how to get in touch, see the
				<a href="about">about</a> page.
			p.text-center
				a.btn.btn-primary.btn-lg(href='{{loginUrl}}') Log In With Last.fm

		div(data-ng-if='loggedIn')
			div#user-info
				div.user-tile(user-tile)
				div.station-tile(data-ng-repeat='station in stations | filter:{currentlyScrobbling:true}', station-tile)
				form.form-inline(data-ng-if='userDetails.isScrobbling && userDetails.scrobbleTimeoutTime', role='form')
					div.checkbox(data-ng-class='{ disabled: !userDetails.scrobbleTimeoutEnabled }')
						label
							input.scrobble-timeout-checkbox(type='checkbox', data-ng-model='userDetails.scrobbleTimeoutEnabled', data-ng-change='scrobbleTimeoutCheckboxChanged()')
							| Automatically stop scrobbling 
							span(data-ng-if='userDetails.scrobbleTimeoutEnabled', am-time-ago='userDetails.scrobbleTimeoutTime')
							span(data-ng-if='!userDetails.scrobbleTimeoutEnabled') in 4 hours
							button.btn.btn-default.btn-xs.change-timeout-button(type='button', data-ng-disabled='!userDetails.scrobbleTimeoutEnabled') Change
				p#continue-scrobbling-note(data-ng-if='userDetails.isScrobbling') Note: ScrobbleAlong will continue scrobbling even if you close your browser window.

		div
			div.pull-left
				h3 Stations
			div.btn-group.btn-group-sm.pull-right.sort-buttons(data-ng-if='loggedIn')
				button.btn.btn-default.disabled(type='button') Sort:
				button.btn.btn-default(type='button', data-ng-click='changeStationSort("scrobbles")', ng-class='{active: sortStationsBy=="scrobbles"}') Scrobbles
				button.btn.btn-default(type='button', data-ng-click='changeStationSort("compatibility")', ng-class='{active: sortStationsBy=="compatibility"}') Compatibility
				button.btn.btn-default(type='button', data-ng-click='changeStationSort("lastfmUsername")', ng-class='{active: sortStationsBy=="lastfmUsername"}') Name

		div.clearfix

		div.well.stations
			div.station-tile(data-ng-repeat='station in stations | filter:{currentlyScrobbling:false} | orderBy:sortStations', station-tile)
			div.clearfix